:root { 
  --black: #000000;
  --eerie-black: #1f1f1f;
  --fuscous-gray: #545454;
  --mystic: #e4ebf1;
  --science-blue: #0171dc;
  --solitude: #ebf4fc;
  --white: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-s: 11px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-normal-fuscous-gray-12px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.poppins-medium-eerie-black-12px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-semi-bold-eerie-black-12px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-normal-fuscous-gray-11px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-eerie-black-16px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}
